body {
    background-color: #FFFDFA;
    color: #222222;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0%;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.5px;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
}

#home-nav {
    background-color: rgba(93, 110, 86, 0.6);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 10px;
}

.home-nav {
    margin-top: 12px;
}

p {
    margin-bottom: 0;
}

.menu-1 {
    background: #FFFDF8;
    border: 0.906542px solid #DDDDDD;
    box-shadow: 0px 1.81308px 3.62617px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 10px;
    align-content: center;
}

.menu-2 {
    background: #FFFDF8;
    border: 0.906542px solid #DDDDDD;
    box-shadow: 0px 1.81308px 3.62617px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 10px;
    align-content: center;
    height: 78px;
}

.menu-label {
    padding-top: 4px;
}

.hero-img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.progress-label {
    box-shadow: 0px 1.81308px 3.62617px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    background-color: #FFD29E;
    padding: 5px;
    align-content: center;
}

#week-progress {
    background-color: rgba(93, 110, 86, 0.6);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 10px;
}

.divider-text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

.track-category {
    background: #FFFDF8;
    border: 0.906542px solid #DDDDDD;
    box-shadow: 0px 1.81308px 3.62617px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    align-content: center;
    margin: 0px;
    text-align: center;
}

.progress-bar {
    font-size: 8px;
    background: #5A786D;
}

.progressbar {
    padding: 10px;
    color: #FFFDFA;
}

.progress-cat p {
    font-size: 11px;
    padding-top: 10px;
}

.toolbar {
    background-color: #FFFDFA;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 550px) {
    .toolbar {
        display: none;
    }
}

.nav-item {
    margin-left: 25px;
    margin-right: 25px;
}