.home-nav {
    margin-top: -10px;
}

.mid-priority {
    background-color: #88B9B1;
}

.low-priority {
    background-color: #F7EFC9;
}

.form-check-input {
    background-color: transparent;
}

.progress-label {
    padding-left: 10px;
}

img .expand-task {
    margin-left: 100px;
}

#completed-tasks {
    background-color: rgba(222, 222, 222, 0.56);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 10px;
}

.progress-complete-1 {
    background-color: rgba(252, 203, 130, 0.5);
    color: gray;
}

.progress-complete-2 {
    background: rgba(136, 185, 177, 0.5);
    color: gray;
}

.progress-complete-3 {
    background: rgba(247, 239, 201, 0.5);
    color: gray;
}

.todo-hero img {
    border-radius: 8px;
}